.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.heart{
    stroke: red;
    height: 50;
    width: 50;
    fill:#ff000078;
}
.heart_active{
    fill:red;
}
